################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ds-Project.vcxproj
/Ds-Project.vcxproj.filters
/Ds-Project.vcxproj.user
