################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Ds-Project
/Ds-Project/.vs
/x64/Debug
/Ds-Project/x64/Debug
